/* CSS for the HTML structure provided */

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0px;
    padding: 0px;
    ;
}

.col-one {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.header{
    color: rgb(11, 92, 255);
    padding: 10px 20px;
    text-align: center;
}

.content-one{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 25px;
    color: rgb(11, 92, 255);
}

.col-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    width: 40%;
    margin: auto;

}

h3{
    font-size: 28px;
}

.join{
    background-color: rgb(11, 92, 255);
    border: 1px solid rgb(11, 92, 255);
    border-radius: 30px;
    padding: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

.pa{
    display: flex;
    gap: 65px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.bar{

}

.under-or{
    color: rgb(11, 92, 255);
    cursor: pointer;
}

.footer{
    background-color: rgb(11, 92, 255);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}


